body {
  background: #333333;
  color: #454545;
}
.concrete {
  color: #ff9900;
}
h1,
h2 {
  color: #333333;
}

#concrete h1 {
  font-size: 30px;
  font-weight: bold;
}
#concrete p {
  font-size: 15px;
}
#concrete p a {
  text-decoration: none;
}
#concrete p a:hover {
  border-width: 1px;
}

.concrete_border_top {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tabBrd {
  background: #333;
  color: #fff;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.submitBtn {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#concrete_header {
  color: #333333;
  border-left: 1px;
  border-right: 3px;
}
#concrete_footer {
  color: #114411;
}

/*# sourceMappingURL=css.css.map */
