.concrete_border_top {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tabBrd {
  background: #333;
  color:#fff;
  .concrete_border_top;
}
.submitBtn {
  .concrete_border_top;
}

@the-border: 1px;
@base-color: #111;
@red: #842210;

#concrete_header {
  color: @base-color * 3;
  border-left: @the-border;
  border-right: @the-border * 3;
}
#concrete_footer {
  color: @base-color + #003300;
}