@color-orange: #ff9900;
@color-graylight: #cccccc;
@color-blackdark: #333333;
@color-blackmedium: #454545;
body {
  background: @color-blackdark;
  color: @color-blackmedium;
}
.concrete {
  color:@color-orange;
}
h1, h2{
  color: @color-blackdark;
}