#concrete
{
  h1
  {
    font-size: 30px;
    font-weight: bold;
  }
  p
  {
    font-size: 15px;
    a
    {
      text-decoration: none;
      &:hover
      {
        border-width: 1px;
      }
    }
  }
}

